.logoSection {
  text-align: center;
  background-color: #f8f9fc; /* Light background color */
  padding: 2rem 0;
}

.centeredLogo {
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
  color: #12375c; /* Customize your theme color */
  font-weight: bold;
}

.description {
  font-size: 1rem;
  color: #555555;
  margin-top: 0.5rem;
}
